.header {
	position: fixed;}
	
.image1 {
    float: right;
    margin: 0 0 10px 10px;}
	
.image2 {
	float: center;}
	
.p1 {
	color: white;}
	
a:link {
	color: darkgray;}
	
a:visited {
	color: white;}
	
a:hover {
	color: lightgray;}
	
a:active {
	color: gray;}
	
body {
	color: black;
	background-color: white;
	font-family: "Lato", sans-serif;}
	
.button {
	boreder-radius: 4px;
  	border: none;
  	background-color: black;
  	color: white;
  	text-align: center;
  	font-size: 14px;
  	padding: 10px;
  	width: 240px;
  	transition: all 0.5s;
  	cursor: pointer;
  	margin: 5px;
  	align: left;}
	
.button span {
  	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;}
	
.button span:after {
	content: '\00bb';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;}
	
.button:hover span {
  	padding-right: 25px;}
	
.button:hover span:after {
  	opacity: 1;
  	right: 0;}
	
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
.button6 {background-color: #8C8989;} /*  */
.button7 {background-color: #737373;}
.button8 {background-color: #5900ff;} /*Purple */
.button9 {background-color: #00fff2;}

p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;}

.cancelbtn,.signupbtn {float:left;width:50%}

.container {
    padding: 16px;
    color: 000000;}

.clearfix::after {
    content: "";
    clear: both;
    display: table;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;}

img.avatar {
    width: 40%;
    border-radius: 50%;}

.container {
    padding: 16px;}

span.psw {
    float: right;
    padding-top: 16px;}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }}

.button13 {
    border: none;
    color: black;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;}

.button13 {
    background-color: black;
    color: white;
    border: 2px solid black;}

.button13:hover {
    background-color: #FFF;
    color: black;}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;}

input:checked + .slider {
  background-color: #2196F3;}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);}
  
.slider.round {
  border-radius: 34px;}
  
.slider.round:before {
  border-radius: 50%;}
  
#btnHousing {
    background-color: rgb(255,242,0);}
	
#btnHousing.toggled {
    background-color: ;}
	
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;}
	
button {
    background-color: #757575;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;}
	
.cancelbtn {
    padding: 14px 20px;
    background-color: #000000;}
	
.cancelbtn,.signupbtn {float:left;width:50%}

.container {
    padding: 16px;}
	
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;}
	
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;}
	
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;}
	
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;}
	
.clearfix::after {
    content: "";
    clear: both;
    display: table;}
	
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }}
	
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
	background-color: #000;
    transition: 0.5s;
    padding-top: 60px;}
	
.sidenav a {
    text-decoration: none;
    background-color: 000;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s}
	
.sidenav a:hover, .offcanvas a:focus{
    color: #818181;}
	
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;}
	
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}}
